<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- import Vue.js -->
  <script src="./js/vue/vue.min.js"></script>
  <!-- import stylesheet -->
  <link rel="stylesheet" href="./js/iview/iview.css">
  <!-- import iView -->
  <script src="./js/iview/iview.min.js"></script>
  <script src="./js/asset/bmob-min.js"></script>
  <style>
    .card-con:not(:first-child) {
      margin: 25px 16px;
    }
    
    .title {
      font-size: 18px;
      margin: 25px 0 0px 16px;
      padding-right: 10px;
      border-bottom: 3px solid #2d8cf0;
      display: inline-block;
    }
  </style>
</head>

<body>
  <div class="layout" id="app">
    <Layout>
      <Sider ref="side1" hide-trigger collapsible :collapsed-width="78" v-model="isCollapsed">
        <i-menu active-name="schoolAssistant" theme="dark" width="auto" :class="menuitemClasses">
          <Menu-Group title="校园助手后台管理">
            <Menu-Item name="bookHelper">
              <Icon type="ios-navigate"></Icon>
              <span>购书助手</span>
            </Menu-Item>
            <Menu-Item name="contact">
              <Icon type="search"></Icon>
              <span>通讯录</span>
            </Menu-Item>
            <Menu-Item name="1-3">
              <Icon type="settings"></Icon>
              <span>Option 3</span>
            </Menu-Item>
          </Menu-Group>
          <Menu-Group title="信息管理">
            <Menu-Item name="userManager">
              <Icon type="settings"></Icon>
              <span>用户管理</span>
            </Menu-Item>
            <Menu-Item name="groupManager">
              <Icon type="settings"></Icon>
              <span>群体管理</span>
            </Menu-Item>
          </Menu-Group>
        </i-menu>
      </Sider>
      <Layout>
        <Header :style="{padding: 0}" class="layout-header-bar">
          <Icon @click.native="collapsedSider" :class="rotateIcon" :style="{margin: '20px 20px 0'}" type="navicon-round" size="24"></Icon>
        </Header>
        <Content :style="{margin: '20px', background: '#fff', minHeight: this.winH + 'px'}">
          <Row gutter="16">
            <i-col span="12">
              <span class="title">添加学院</span>
              <Card class="card-con">
                <div style="margin: 0 8px;">
                  <i-button type="primary" icon="ios-plus-empty" @click="addAcademy = true">添加学院</i-button>
                  <i-table border :columns="academyColumns" :data="academyData"></i-table>
                </div>
              </Card>
            </i-col>
            <i-col span="12">
              <span class="title">添加专业</span>
              <Card class="card-con">
                <div style="margin: 0 16px;">
                  <!-- <Table border :columns="columns7" :data="data6"></Table> -->
                  <i-select v-model="selectedAcaId" style="width:200px" clearable @on-change="getMajorFromAca">
                    <i-option v-for="item in academyData" :value="item.id" :key="item.id">{{ item.name }}</i-option>
                  </i-select>
                  <i-button type="primary" icon="ios-plus-empty" @click="addMajor = true">添加专业</i-button>
                  <i-table border :columns="academyColumns" :data="majorData"></i-table>
                </div>
              </Card>
            </i-col>
          </Row>
          <Row gutter="16">
            <i-col span="12">
              <span class="title">添加学院</span>
              <Card class="card-con">
                <div style="margin: 0 8px;">
                  <i-button type="primary" icon="ios-plus-empty" @click="addAcademy = true">添加学院</i-button>
                  <i-table border :columns="majorColumns" :data="academyData"></i-table>
                </div>
              </Card>
            </i-col>
          </Row>
        </Content>
      </Layout>
    </Layout>
    <Modal v-model="addAcademy" title="Common Modal dialog box title" @on-ok="addAcademyFunc" @on-cancel="cancel">
      <i-input v-model="newAcademyName" placeholder="输入学院名称" style="width: 300px" autofocus="true"></i-input>
    </Modal>
    <Modal v-model="addMajor" title="Common Modal dialog box title" @on-ok="addMajorFunc" @on-cancel="cancel">
      <i-input v-model="newMajorName" placeholder="输入专业名称" style="width: 300px" autofocus="true"></i-input>
    </Modal>
  </div>
  <script>
    const CONTACT = 'contact',
      BOOKHELPER = 'bookHelper',
      GROUPMANAGER = 'groupManager',
      USERMANAGER = 'userManager'

    Bmob.initialize("6636a71c682fc816bf7f4d3678561cff", "05ea04f70d33f065e52ded897c5f4765");

    new Vue({
      el: '#app',
      data() {
        return {
          isCollapsed: false,
          winH: 500,
          addAcademy: false,
          addMajor: false,
          newAcademyName: '',
          newMajorName: '',
          academyColumns: [{
            title: '学院名称',
            key: 'academyName',
            render: (h, params) => {
              return h('div', [
                h('Icon', {
                  props: {
                    type: 'person'
                  }
                }),
                h('strong', params.row.name)
              ]);
            }
          }, {
            title: '操作',
            key: 'action',
            width: 150,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  on: {
                    click: () => {
                      this.remove(params.index)
                    }
                  }
                }, '删除')
              ]);
            }
          }],
          academyData: [],
          selectedAcaId: '',
          majorColumns: [{
            title: '专业名称',
            key: 'majorName',
            render: (h, params) => {
              return h('div', [
                h('Icon', {
                  props: {
                    type: 'person'
                  }
                }),
                h('strong', params.row.name)
              ])
            }
          }, {
            title: '操作',
            key: 'action',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'error',
                    size: 'small'
                  },
                  on: {
                    click: () => {
                      this.remove(params.index)
                    }
                  }
                })
              ])
            }
          }],
          majorData: []
        };
      },
      mounted: function() {
        let _this = this
        let AcademyList = Bmob.Object.extend("academyList");
        let query = new Bmob.Query(AcademyList);
        query.find({
          success: function(results) {
            console.log(results)
              // 循环处理查询到的数据
            for (var i = 0; i < results.length; i++) {
              var object = results[i];
              console.log(object.id + ' - ' + object.get('academyName'));
              _this.academyData.push({
                name: object.get('academyName'),
                id: object.id
              })
            }
            _this.selectedAcaId = _this.academyData[0].id
          },
          error: function(error) {
            alert("查询失败: " + error.code + " " + error.message);
          }
        });
      },
      beforeMount: function() {
        this.winH =
          (window.innerHeight ||
            document.body.clientHeight ||
            document.documentElement.clientHeight) - 104;
      },
      computed: {
        rotateIcon() {
          return ["menu-icon", this.isCollapsed ? "rotate-icon" : ""];
        },
        menuitemClasses() {
          return ["menu-item", this.isCollapsed ? "collapsed-menu" : ""];
        }
      },
      methods: {
        collapsedSider() {
          this.$refs.side1.toggleCollapse();
        },
        remove(index) {
          this.academyData.splice(index, 1);
        },
        addAcademyFunc() {
          let _this = this
          let AcademyList = Bmob.Object.extend("academyList");
          let newAcademy = new AcademyList()
          console.log(this.newAcademyName)
          newAcademy.save({
            academyName: _this.newAcademyName
          }, {
            success: (result) => {
              let serNewName = result.attributes.academyName
              this.$Message.info('添加' + _this.newAcademyName + '成功');
              _this.academyData.push({
                name: serNewName
              })
              _this.newAcademyName = ''
              console.log(result)
            },
            error: (newAcademyName, error) => {
              this.$Message.warning('添加' + _this.newAcademyName + '失败：')
              console.error(newAcademyName)
              console.error(error)
            }
          })
        },
        addMajorFunc() {
          console.log(this.newMajorName)
          let _this = this
          let MajorList = Bmob.Object.extend("majorList");
          let newMajor = new MajorList()
          newMajor.save({
            majorName: _this.newMajorName,
            belongAca: _this.selectedAcaId
          }, {
            success: (result) => {
              let serNewName = result.attributes.majorName
              this.$Message.info('添加' + _this.newMajorName + '成功');
              _this.majorData.push({
                name: serNewName,
              })
              _this.newMajorName = ''
              console.log(result)
            },
            error: (result) => {
              this.$Message.warning('添加' + _this.newMajorName + '失败：')
              console.error(newMajorName)
              console.error(error)
            }
          })
        },
        cancel() {
          this.$Message.info('Clicked cancel');
          this.newAcademyName = ''
          this.newMajorName = ''
        },
        getMajorFromAca() {
          console.log('triggle by select change')
          console.log(this.selectedAcaId)
          let _this = this
          let majorList = Bmob.Object.extend('majorList')
          let majorQuery = new Bmob.Query(majorList);
          majorQuery.equalTo("belongAca", this.selectedAcaId);
          majorQuery.find({
            success: function(results) {
              console.log(results)
              let tempArr = []
                // 循环处理查询到的数据
              for (var i = 0; i < results.length; i++) {
                var object = results[i];
                console.log(object.id + ' - ' + object.get('academyName'));
                tempArr.push({
                  name: object.get('majorName'),
                  id: object.id
                })
              }
              _this.majorData = tempArr
            },
            error: function(error) {
              alert("查询失败: " + error.code + " " + error.message);
            }
          })
          this.majorData = []
        }
      }
    })
  </script>
</body>

</html>